/* Clears Default Style Rules*/
body, p, h1, h2, h3, div, img{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Navigator Style Rules */
.navigator {
    padding: 0;
    margin: 0;

}

.navigator li{
    /* Makes the nav lin line*/
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    
    
}
.navigator li a {
    color: black;
    padding: .5em 1em;
    text-decoration: none;
    border: 1px solid black;
    background-color: lightgrey;
}

/* Nav Bar Rules*/
.navbar.navbar-inverse {
    margin-bottom: 0;
}


.partitions {
    display: flex;
}

.search_bar input[type="text"] {
    width: auto;
    /* width: 80%; Adjust the width as needed */
    padding: 10px;
    align-items: center;
    
}




/* Sub-Search Bar Rules*/
.navSub {
    background-color: #393E41;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 100;
    display: none;
}

.navSub ul {
    margin-bottom: 0;
}

.navSub li{
    /* Makes the nav lin line*/
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}
.navSub li a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}

.navSub li:hover {
    background-color: #4c5357;
}

/* Main Calisthenics Content */
main {
    flex: 1;
    background: #e0e0e0;
    padding-bottom: 20px;
    overflow-y: auto; /* Add vertical scroll if the content overflows */
}

#main_calisthenics {
    padding-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#left-container {
    height: 85vh;
}

.search_bar {
    text-align: center;
    padding-bottom: 10px;
}

.search_bar h1 {
    padding-left: 5%;
    width: 90%;
    font-size: 5vw;
}

.search_bar input[type="text"] {
    width: auto;
    width: 80%;
    height: 10vw;
    max-height: 30px;
}

#content-container {
    display: flex;
    flex: 1;
    /* overflow: hidden; */
    background-color: #c0eaff;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #c0eaff;
    position: sticky;
    position: -webkit-sticky;
    top: 10%;
}

#checklist {
    max-height: 90%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 0px;
    list-style: none;
}

#checklist::-webkit-scrollbar {
    width: 10px;
}

#checklist::-webkit-scrollbar-track {
    background-color: #c0eaff;
}

#checklist::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.checklist-item {
    border: 1px solid #ccc;
    padding: 10px;
    /* margin-bottom: 10px; */
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
}

.checklist-item h2 {
    margin: 0;
    padding: 0;
    /* font-size: 4vw; */
    font-size: clamp(10px, 4vw, 2em);
    font-style: bold;
}

.checklist-item p {
    /* Gonna wanna make italic whenever I manage to 
    seperate the attribute from the description*/
    font-size: clamp(5px, 1.5vw, 1em);
    font-style: italic;
}

.selected {
    background-color: lightblue;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

#scroll-button, #clear-button, #save-button {
    flex: 1;
    /* width: 33%; Adjust the button width */
    font-size: 14px; /* Adjust the font size */
    font-size: 2vw;
}

#right-container {
    width: 70%;
    padding-left: 10px;
    border-left: 2px double black;
    background-color: white;
}

#attribute-table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 2%;
}

#attribute-table .major-intensity {
    background-color: lightgreen;
    /* Add any other styles you want for a major intensity attribute */
}

#attribute-table .moderate-intensity {
    background-color: lightblue;
    /* Add any other styles you want for a moderate intensity attribute */
}


#attribute-table th, #attribute-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#attribute-table th {
    background-color: #f2f2f2;
}

#attribute-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Homepage Styles*/
.introduction {
    text-align: center;
    border-top: 3px solid black;
}

.introduction p {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.introduction h2 {
    padding: .5em 0;
    margin: .5em;
    font-weight: bold;
    /* background-color: lightgrey; */
}

.intro_content {
    padding-top: 0.5em;
}


/* Footer Style Rules */
footer {
    border-top: 2px solid #333; 
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    padding: 10px;
    padding-top: 25px;
}

.footer-item select {
    background-color: grey;
}
