
.navigator {
    padding: 0;
    margin: 0;

}

.navigator li{
    /* Makes the nav lin line*/
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    
    
}
.navigator li a {
    color: black;
    padding: .5em 1em;
    text-decoration: none;
    border: 1px solid black;
    background-color: lightgrey;
}

.partitions {
    display: flex;
}

.search_bar {
    flex: 1;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid black;
}

.search_bar h1 {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.search_bar input[type="text"] {
    width: auto;
    /* width: 80%; Adjust the width as needed */
    padding: 10px;
    align-items: center;
    
}

.content {
    flex: 3;
    padding: 20px;
    border: 1px solid black;
}

.general_image {
    width: 30em;
    height: 20em;
}